<header class="bg-gray-100 w-full flex items-center fixed z-40 justify-center py-6 px-6">
  <a routerLink="/" class=" text-3xl font-semibold">Company</a>
  <div class="space-y-1.5 self-center cursor-pointer fixed right-6" (click)="sidebarToggle()">
    <span class="block w-8 h-1 bg-black"></span>
    <span class="block w-8 h-1 bg-black"></span>
    <span class="block w-8 h-1 bg-black"></span>
  </div>
</header>

<div [ngClass]="{'right-0': sideBarActive, '-right-72': !sideBarActive}" class=" fixed right-0 bottom-0 top-0 w-72 bg-gray-200 flex flex-col z-50 justify-center items-center gap-8 text-2xl font-semibold transition-all duration-300 ease-in-out shadow-lg 
  ">
  <button class="h-4 absolute top-6 -left-6" (click)="sidebarToggle()">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" width="121.31px" height="122.876px" viewBox="0 0 121.31 122.876"
      enable-background="new 0 0 121.31 122.876" xml:space="preserve" class="h-6 absolute">
      <g>
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M90.914,5.296c6.927-7.034,18.188-7.065,25.154-0.068 c6.961,6.995,6.991,18.369,0.068,25.397L85.743,61.452l30.425,30.855c6.866,6.978,6.773,18.28-0.208,25.247 c-6.983,6.964-18.21,6.946-25.074-0.031L60.669,86.881L30.395,117.58c-6.927,7.034-18.188,7.065-25.154,0.068 c-6.961-6.995-6.992-18.369-0.068-25.397l30.393-30.827L5.142,30.568c-6.867-6.978-6.773-18.28,0.208-25.247 c6.983-6.963,18.21-6.946,25.074,0.031l30.217,30.643L90.914,5.296L90.914,5.296z" />
      </g>
    </svg>
  </button>

  <a href="/" (click)="sidebarToggle()" class=" hover:bg-gray-100 px-4 py-2 rounded transition-all">Home</a>
  <a routerLink="/blogs" (click)="sidebarToggle()" class=" hover:bg-gray-100 px-4 py-2 rounded transition-all">Blogs</a>
  <a href="/services" (click)="sidebarToggle()" class=" hover:bg-gray-100 px-4 py-2 rounded transition-all">Services</a>
  <a href="/contact" (click)="sidebarToggle()" class=" hover:bg-gray-100 px-4 py-2 rounded transition-all">Contact</a>
</div>

<router-outlet></router-outlet>